.container {
  display: flex;
  margin: 10px 40px;
  padding: 10px;
}
.container-title {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.container-title h1{
  display: contents;
}
.text-center{
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.mat-elevation-z8{
  margin-right: 40px !important;
  width: 95%;
}
.mat-elevation-z8 td{
  font-size: 8pt;
}
.max-days{
  font-weight: bold;
  color: red;
}

.min-age{
  background-color: orange;
  font-weight: bold;
  color: white;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  background-color:whitesmoke;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.make-gold {
  background-color: gold;
}
